global
    daemon
    maxconn 4096
    log stdout local0 info

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    log global
    option httplog


backend backend_servers
    balance roundrobin 
    option httpchk GET /health 
    
    server s1 software-security-service_1:5000 check
    server s2 software-security-service_2:5000 check
